.msg_wrapper {
  padding: 24px 10px;
}

.msg_wrapper .userlist header {
  background-color: var(--border-color);
  padding: 19px 18px;
  border-radius: 5px;
}

.msg_wrapper .userlist header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
}

.msg_wrapper .userlist_body .user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background-color: var(--white);
  margin: 6px 0;
  cursor: pointer;
}
.msg_wrapper .userlist_body .user.active {
  border-bottom: 1px solid var(--border-color);
}

.msg_wrapper .userlist_body .user p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
  margin-left: 10px;
}

.msg_wrapper .userlist,
.msg_wrapper .msg_box,
.msg_wrapper .nomessages {
  height: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 1px 0px 2px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background-color: #f3f3f3;
}

.msg_wrapper .userlist .userlist_body,
.msg_wrapper .chat_container {
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}

.msg_wrapper ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.msg_wrapper .msg_box {
  position: relative;
  padding-bottom: 50px;
}
.msg_wrapper .msg_box header {
  background-color: var(--border-color);
  padding: 16px 18px;
  border-radius: 5px;
}

.msg_wrapper .msg_box .user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.msg_wrapper .msg_box header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: var(--white);
}
.msg_wrapper .msg_box header .user p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  margin-left: 10px;
}

.msg_wrapper .chat_container {
  padding: 18px;
}

.msg_wrapper .chat_container .messages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.msg_wrapper .chat_container .messages div {
  background-color: #fff;
  border-radius: 5px 0 5px 5px;
  max-width: 60%;
  padding: 6px;
  margin-bottom: 8px;
  cursor: pointer;
}

.msg_wrapper .chat_container .messages .from {
  align-self: end;
  border-radius: 0 5px 5px 5px;
}

.msg_wrapper .chat_container .form {
  display: flex;
  align-items: center;
}

.msg_wrapper .chat_container .form .ant-form-item {
  margin: 0;
  flex: 1;
  margin-right: 15px;
}
.msg_wrapper .chat_container .form .ant-form-item .ant-input {
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  resize: none;
  overflow: hidden;
  font-size: 12px;
  font-weight: 500;
  color: var(--black);
  height: 50px;
}

.msg_wrapper .chat_container .form {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
}
.msg_wrapper .chat_container .ant-form-item-explain-error,
.msg_wrapper .chat_container .show-help,
.msg_wrapper .chat_container .ant-form-item-explain-error > div {
  display: none;
}

.msg_wrapper .chat_container .form button {
  height: 50px;
  width: 50px;
  font-size: 18px;
  background-color: var(--border-color);
  color: var(--white);
}

.msg_wrapper .nomessages {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.msg_wrapper .nomessages .mail {
  max-width: 90px;
}

.msg_wrapper .nomessages .title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}

.msg_wrapper .nomessages .subtitle {
  font-size: 14px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.65);
}

.msg_wrapper .blockmsg {
  width: 100%;
  background-color: var(--white);
  border-radius: 5px;
  text-align: center;
}

.msg_wrapper .blockmsg p {
  padding: 10px 5px;
  margin: 0;
  font-weight: 500;
}
