.profile {
  padding: 24px 10px;
}

.profile .content {
  width: 100%;
}
.profile .deskNav .ant-menu {
  padding: 8px 0;
  border-radius: 10px;
  background-color: var(--border-color);
}

.profile .deskNav .ant-menu h3 {
  padding: 24px 16px 16px 16px;
  margin: 0;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}

.profile .deskNav .ant-menu-item a {
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
}
.profile .deskNav .ant-menu-item .anticon {
  color: var(--white);
}

.profile .deskNav .ant-menu .ant-menu-item-selected {
  background-color: #93a4d5;
}

.profile .innerWrapper {
  max-width: 600px;
  margin: 0 auto;
}

.profile .innerWrapper .avatar_wrapper {
  margin-bottom: 20px;
}

.profile .innerWrapper .avatar_wrapper .btn {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
  padding: 12px 14px;
  border-radius: 5px;
  margin-left: 20px;
  height: auto;
}
.profile .infoCard {
  margin-top: 20px;
}

.profile .heading_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile .heading_wrap > h3 {
  color: var(--black);
}
.profile .heading_wrap .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 38px;
  width: 38px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  cursor: pointer;
}

.profile .innerWrapper .ant-form .ant-form-item-label > label {
  color: rgba(0, 0, 0, 0.25);
}

.profile .ant-input[disabled],
.profile .ant-select-disabled .ant-select-selection-item {
  color: rgba(51, 51, 51, 0.83);
  font-weight: 500;
}

.profile .mobNav {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
  background-color: var(--border-color);
}
.profile .mobNav h3 {
  margin: 0;
  color: var(--white);
}

.profile .mobNav .ant-menu-light {
  background-color: var(--border-color);
  width: 100%;
  border: none;
  text-align: center;
}
.profile .mobNav .ant-menu-item-selected,
.profile .mobNav .ant-menu-item-active {
  border: none !important;
}

.profile .mobNav .anticon,
.profile .mobNav .mobNavTitle {
  color: var(--white);
}

@media screen and (max-width: 568px) {
  .profile .mobNav .mobNavTitle {
    display: none;
  }
  .profile .innerWrapper .avatar_wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .profile .ant-layout.ant-layout-has-sider {
    flex-direction: column;
  }
}
