.notes_wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.notes_wrapper .ant-upload-list-item {
  background-color: rgba(51, 51, 51, 0.1);
  color: var(--black);
  font-weight: 600;
  padding: 10px;
  height: auto;
}
.notes_wrapper .ant-upload-list-item:hover .ant-upload-list-item-info {
  background-color: transparent;
}
.notes_wrapper .ant-upload-list-item .anticon-delete {
  color: var(--red);
}
.notes_wrapper .btn_wrapper Button {
  margin-top: 10px;
  width: 100%;
  padding: 14px 0;
  height: auto;
  background-color: var(--border-color);
  color: var(--white);
  font-weight: 600;
}
