nav {
  border-bottom: solid 1px #e8e8e8;
  box-shadow: 0 0 10px #f3f1f1;
  background-color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  max-height: 32px;
}
.navbar .logo .logoimg {
  max-width: 200px;
}

.navbar .nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .rightMenu ul {
  border-bottom: 0;
  display: flex;
  align-items: center;
}

.navbar .rightMenu ul .ant-menu-item,
.navbar .rightMenu ul .ant-menu-submenu {
  padding: 10px 0;
}
.navbar .rightMenu ul.ant-menu-horizontal li {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: none !important;
  border-bottom-style: none !important;
  margin: 0;
}

.navbar .rightMenu ul li:not(:last-child) {
  padding: 15px 18px;
}

.navbar .rightMenu ul li span {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.navbar .rightMenu ul li .ant-badge .anticon {
  margin: 0;
  font-size: 16px;
}
.navbar .mob_wrapper {
  display: none;
  visibility: hidden;
}

.navbar .mob_wrapper .mob_container {
  display: flex;
  align-items: center;
}

.navbar .mob_wrapper .mob_container ul {
  border-bottom: 0;
}

.navbar .mob_wrapper .mob_container ul.ant-menu-horizontal li {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: none !important;
  border-bottom-style: none !important;
  margin: 0;
  padding: 0 10px;
}

.navbar .mob_container ul li span {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.navbar .hamburger {
  padding: 6px;
  margin: 12px;
  display: none;
  background: none;
  border: none;
  box-shadow: none;
}

.navbar .hamburger .barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: #536fc6;
  position: relative;
}
.navbar .signupBtn {
  padding: 0;
  margin-left: 40px;
  background-color: var(--border-color);
  border-radius: 5px;
  color: var(--white);
}
.navbar .signupBtn:hover {
  background-color: var(--border-color);

  color: var(--white);
}
.navbar .signupBtn a {
  padding: 10px 33px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar .hamburger .barsBtn:after,
.navbar .hamburger .barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #536fc6;
}

.navbar .hamburger .barsBtn:after {
  top: auto;
  bottom: -6px;
}

.ant-drawer-body {
  padding: 0;
}

.navbar .hamburger > span {
  display: block;
}

.navbar .uname {
  font-size: 14px;
  font-weight: 600;
}

.navbar .uname,
.sidenav .uname {
  padding-left: 10px;
}
.sidenav {
  display: none;
}
.sidenav .ant-drawer-body {
  padding: 24px 0;
}
.sidenav .drawerlogoimg {
  max-width: 120px;
}

.sidenav ul li {
  font-size: 14px;
  font-weight: 600;
}

.sidenav ul li {
  font-size: 14px;
  font-weight: 500;
}

.sidenav .signupBtn {
  margin-left: 24px;
  background-color: var(--border-color);
  border-radius: 5px;
  color: var(--white);
}

.sidenav .signupBtn:hover {
  background-color: var(--border-color);
  color: var(--white);
}
.sidenav .ant-menu-sub.ant-menu-inline {
  background-color: #fcfcfc;
}

/*  

.sidenav
  .ant-drawer-body
  .ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-item {
  margin: 0;
  padding-left: 24px;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
} */

.sign_modal .ant-modal-content {
  border-radius: 10px;
}
@media screen and (max-width: 568px) {
}

@media (max-width: 767px) {
  .sidenav {
    display: block;
  }
  .navbar .mob_wrapper {
    display: block;
    visibility: visible;
  }
  .navbar .hamburger {
    display: inline-block;
  }

  .rightMenu {
    display: none;
  }
  .navbar .logo {
    max-height: 28px;
    margin-left: 10px;
  }
  .navbar .logo .logoimg {
    max-width: 150px;
  }

  .navbar .ant-menu-item,
  .navbar .ant-menu-submenu-title {
    padding: 1px 20px;
  }
}
